{
  "name": "@tsupc/{{ package_name }}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/{{ git_repo_uri_path }}.git",
    "directory": "packages/{{ package_name }}"
  },  
  "license": "MIT",
  "version": "0.0.1",
  "type": "module",
  "sideEffects": false,
  "files": [
    "dist"
  ],
  "exports": {
    ".": {
      "types": "./dist/index.d.ts",
      "import": "./dist/index.mjs",
      "require": "./dist/index.cjs"
    }
  },
  "main": "./dist/index.cjs",
  "module": "./dist/index.mjs",
  "types": "./dist/index.d.ts",
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org/"
  },
  "scripts": {
    "build": "tsdown && node ../../scripts/sync-types.mjs",
    "clean": "node ../../scripts/clean-package.mjs",
    "test": "pnpm run build && vitest run",
    "typecheck": "tsc -p tsconfig.json --noEmit"
  }
}
