# `@tsupc/{{ package_name }}`

TODO: Package description here.

## Install

```sh
npm install @tsupc/{{ package_name }}
```

## Usage

```ts
import { doSomething } from "@tsupc/{{ package_name }}";

// TODO: Demonstrate some usage here.
doSomething();
```

CommonJS is supported as well:

```js
const { doSomething } = require("@tsupc/{{ package_name }}");
```

## API

TODO: Detail the packages API. Example:

```md
### `someFunc(arg)`

Here is important information about `someFunc`.
```

## Notes

- TODO: Add some notes about the package.

## License

MIT
